.App {
  text-align: center;
}
img{
  width: 100%;
}
.start-game{
  padding: 15px;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}
.garbage{
  width: 100px;
  height: 100px;
  /* background: red; */
  position: absolute;
  top: 20px;
  right: 50px;
  animation: falling-down 30s linear forwards infinite;
}

.garbage-collector{
  width: 120px;
  height: 150px;
  /* background: black; */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.hide{
  display: none;
}

@keyframes falling-down {
  from {
      transform: translateY(0);
}

  to {
      transform : translateY(100vh);
  }
}